@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Geist";
        font-weight: 100;

        src: url("../assets/fonts/geist/Geist-Thin.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 200;

        src: url("../assets/fonts/geist/Geist-UltraLight.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 300;

        src: url("../assets/fonts/geist/Geist-Light.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 400;
        font-style: normal;

        src: url("../assets/fonts/geist/Geist-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 600;

        src: url("../assets/fonts/geist/Geist-SemiBold.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 700;

        src: url("../assets/fonts/geist/Geist-Bold.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 800;

        src: url("../assets/fonts/geist/Geist-Black.woff2") format("woff2");
    }
    @font-face {
        font-family: "Geist";
        font-weight: 900;

        src: url("../assets/fonts/geist/Geist-UltraBlack.woff2") format("woff2");
    }
}

@layer base {
    :root {
        --background: 0 0% 100%; /* 白色背景 */
        --foreground: 0 0% 0%; /* 黑色前景 */

        --card: 0 0% 100%; /* 白色卡片背景 */
        --card-foreground: 0 0% 0%; /* 黑色卡片前景 */

        --popover: 0 0% 100%; /* 白色弹出框背景 */
        --popover-foreground: 0 0% 0%; /* 黑色弹出框前景 */

        --primary: 0 0% 0%; /* 黑色主色 */
        --primary-foreground: 0 0% 100%; /* 白色主色前景 */

        --secondary: 0 0% 50%; /* 灰色次要色 */
        --secondary-foreground: 0 0% 100%; /* 白色次要色前景 */

        --muted: 0 0% 90%; /* 浅灰色静音色 */
        --muted-foreground: 0 0% 10%; /* 深灰色静音色前景 */

        --accent: 0 0% 50%; /* 灰色强调色 */
        --accent-foreground: 0 0% 100%; /* 白色强调色前景 */

        --destructive: 0 100% 50%; /* 红色破坏性操作 */
        --destructive-foreground: 0 0% 100%; /* 白色破坏性操作前景 */

        --border: 0 0% 80%; /* 灰色边框 */
        --input: 0 0% 80%; /* 灰色输入框 */
        --ring: 0 0% 0%; /* 黑色环 */

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 0%; /* 黑色背景 */
        --foreground: 0 0% 100%; /* 白色前景 */

        --card: 0 0% 0%; /* 黑色卡片背景 */
        --card-foreground: 0 0% 100%; /* 白色卡片前景 */

        --popover: 0 0% 0%; /* 黑色弹出框背景 */
        --popover-foreground: 0 0% 100%; /* 白色弹出框前景 */

        --primary: 0 0% 100%; /* 白色主色 */
        --primary-foreground: 0 0% 0%; /* 黑色主色前景 */

        --secondary: 0 0% 50%; /* 灰色次要色 */
        --secondary-foreground: 0 0% 100%; /* 白色次要色前景 */

        --muted: 0 0% 10%; /* 深灰色静音色 */
        --muted-foreground: 0 0% 90%; /* 浅灰色静音色前景 */

        --accent: 0 0% 50%; /* 灰色强调色 */
        --accent-foreground: 0 0% 100%; /* 白色强调色前景 */

        --destructive: 0 100% 50%; /* 红色破坏性操作 */
        --destructive-foreground: 0 0% 100%; /* 白色破坏性操作前景 */

        --border: 0 0% 20%; /* 深灰色边框 */
        --input: 0 0% 20%; /* 深灰色输入框 */
        --ring: 0 0% 100%; /* 白色环 */
    }
}

@layer base {
    * {
        @apply m-0 border-border p-0 font-sans;
    }
    body {
        @apply overflow-hidden bg-background text-foreground;
    }
    .draglayer {
        @apply bg-background;
        -webkit-app-region: drag;
    }
}
